body {
	margin:0;
	padding:0;
}

.wrapper {
	display: flex;
	flex-wrap:wrap;
	flex-direction: column;
}

body * {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}

section, fieldset {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 23px 0 23px;
}

header {
	display: flex;	
	justify-content: space-between;	
}

h3 {
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #00527B;
	text-align: center;
}

h4 {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #FF931A;
}

.rk-logo {
	margin: 16px 0 0 23px;
}
.burger {
	margin: 29px 32px 27px 23px;
}

.header_line {
	background-color: #F4F4F4;
	height:3px;
	width:100%;
	border:none;
}

.ADS {
	color: #00527B;
	margin: 0 23px;
}
.ADS h1 {
	font-weight: 800;
	font-size: 26px;
	line-height: 35px;
}

.ADS p {
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;	
}

.red{
	color:#FF1A31;
}

.orange {
	color: #FF931A;
}

.ready_solution p {
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
	color: #333333;
}

.button	{
	height: 52px;
	cursor: pointer;
	font-weight: 800;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: linear-gradient(83.91deg, #FF1A31 -1.59%, #FF931A 130.38%);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	border: none;
	/* padding: 0 20px; */
	margin: 33px 0 27px 0;
}

.brown {
	background-color: #FFDA7A;
}

.quote {
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
}

.quote strong {
	text-transform:uppercase;
}

.Boris {
	width:322px;
	height: 380px;
}

.Boris_text {
	margin-top: 110px;
}

.Boris_text p {
	line-height: 15px;
}

.price_calculation {
	
}

.small_text {
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #00527B;
}

.calculate_container {
	display: flex;
	justify-content: center;
	margin-bottom:19px;
}

.block {
	display:flex;
}

.calculate_container input {
	width: 100px;
	height: 50px;
	text-align: center;
	border:3px solid #FF931A;
	box-sizing: border-box;
	border-radius: 10px;	
}

.fixed_sum, .one_house_price {
	display: flex;
	flex-direction: column;
}

.plus img {
	margin-right: 23px;
	margin-left: 14px;
	margin-bottom: -20px;
}

.equals img {
	margin: 0 12px;
	margin-bottom: -17px;
}


.number {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	color: #00527B;
}
.number_comment {
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #00527B;
}

.result {
	font-weight: 600;
	font-size: 28px;
	line-height: 44px;
	color: #23B39A;
}

.all_abilities {
	font-weight: 600;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	color: #00527B;
	margin: 0 37.5px 23px 37.5px;
	list-style-type: circle;
}

.abilities_list {
	margin:0 53px 0 0;
}
.abilities_list li {
	color:#D0DEE8;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}

.abilities_list li span {
	color: #FF931A;
}

.list_line {
	background-color: #F4F4F4;
	height:1px;
	width:100%;
	border:none;
}

.control_room {
	text-align:center;
}

.all_you_need {
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #00527B;
}

.simple_integration {
	color: #00527B;
}

.simple_integration p {
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	color:#00527B;
	border: 2px solid #D0DEE8;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 0 15px 15px 15px;
}

.container p {
	text-align: center;
	margin-bottom:0;
}

.container_button_block {
	display: flex;
	justify-content: center;
	padding:0;
	border:none;
}

.container_button{
	flex-grow:1;
	height: 52px;
	cursor: pointer;
	font-weight: 800;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: linear-gradient(83.91deg, #FF1A31 -1.59%, #FF931A 130.38%);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	border: none;
	padding: 0 30px;
}


.service_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	color:#00527B;
	border: 2px solid #D0DEE8;
/* 	box-sizing: border-box; */
	border-radius: 20px;
	padding:0 15px;
}

.service_container h3 {
	text-align:left;
}

.server_image {
	display: flex;
	justify-content: flex-end;
	margin:24px -40px 35px 0;
}

.priority p {
	/* margin-bottom: 0; */
}

.integration button {
	margin-top:35px;
}


.we_garantee .service_container h4{
	margin:0;
}

.security_garantees .service_container{
	padding-bottom: 0;
}

.cat {
	display: flex;
	justify-content: flex-end;
}

figure {
	margin:0;
}

figure p, figcaption {
	text-align: center;
}

.priority {
	margin:0;
}

.priority_header p{
	font-weight: 600;
	text-transform: uppercase;
}

.our_team, .system_security {
	padding-bottom: 15px;
}

.logo {
	margin-top: 30px;
	margin-bottom: 15px;
}

.document {
	margin-top: 30px;
	margin-bottom: 14px;		
}

.document img {
	border: solid 7px #00527B;
	border-radius: 4px;
}

.icon {
	margin-top: 30px;
	margin-bottom: 20px;
}

.lines_image {
	margin-left:13px;
	margin-top:21px;
}

.our_clients {
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #00527B;
	background-color: #EAF1F6;
	margin:0;
	padding:0 23px;
}

.our_clients h3 {
	text-align:left;
}
